.signup_form{
    display: flex;
    flex-direction: column;
  
}

.signup_form input{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color : black;
}